name: make-master

on:
  push:
    branches:
      - main

jobs:
  ubuntu-18.04:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@master
      - name: Run Makefile Dependencies
        run: sudo make deps
      - name: Run Makefile
        run: make
  
  ubuntu-16.04:

    runs-on: ubuntu-16.04

    steps:
      - uses: actions/checkout@master
      - name: Run Makefile Dependencies
        run: sudo make deps
      - name: Run Makefile
        run: make
